{% macro render_menu_item(item, active) %}
    {% if item.isMenuSection %}
        {% if item.icon is not empty %}<i class="text-gray-400 fill-current menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
        <span class="{{ item.cssClass }}">{{ item.label }}</span>
    {% else %}
        <a  
            href="{{ item.linkUrl }}" 
            class="{{ item.cssClass }} hover:text-gray-900 dark:hover:text-gray-400 font-medium {{ active ? 'text-gray-900 dark:text-gray-400' : 'text-gray-600' }}" 
            target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
            {% if item.icon is not empty %}<i class="{{ active ? 'text-gray-900 dark:text-gray-400' : 'text-gray-600' }} fill-current menu-icon fa-fw {{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|raw }}</span>
            {% if item.hasSubItems %}<i class="{{ active ? 'text-gray-900 dark:text-gray-400' : 'text-gray-600' }} fill-current fa fa-fw fa-angle-right treeview-icon"></i>{% endif %}
        </a>
    {% endif %}
{% endmacro %}

{% block main_menu_before %}{% endblock %}

<ul class="sidebar-menu" data-widget="tree" data-animation-speed="250">
    {% block main_menu %}
        {% for menuItem in ea.mainMenu.items %}
            {% block menu_item %}
                <li class="py-1 {{ menuItem.isMenuSection ? 'header' }} {{ menuItem.hasSubItems ? 'treeview' }} {{ ea.mainMenu.isSelected(menuItem) ? 'active' }} {{ ea.mainMenu.isExpanded(menuItem) ? 'active submenu-active' }}">
                    {{ _self.render_menu_item(menuItem, (ea.mainMenu.isSelected(menuItem) or ea.mainMenu.isExpanded(menuItem))) }}

                    {% if menuItem.hasSubItems %}
                        <ul class="treeview-menu py-1">
                            {% for menuSubItem in menuItem.subItems %}
                                {% block menu_subitem %}
                                    {% set active = ea.mainMenu.isSelected(menuSubItem) %}
                                    <li class="py-1 {{ menuSubItem.isMenuSection ? 'header' }} {{ active ? 'active' }}">
                                        {{ _self.render_menu_item(menuSubItem, active) }}
                                    </li>
                                {% endblock menu_subitem %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endblock menu_item %}
        {% endfor %}
    {% endblock main_menu %}
</ul>

{% block main_menu_after %}{% endblock %}
